/* line 1, ../scss/style.scss */
* {
  box-sizing: border-box; }

/* line 4, ../scss/style.scss */
ul {
  padding: 0;
  margin: 0; }
  /* line 7, ../scss/style.scss */
  ul li {
    list-style: none; }

/* line 15, ../scss/style.scss */
.clear {
  clear: both; }

/* line 18, ../scss/style.scss */
.inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px; }

/* line 23, ../scss/style.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; }

/* line 27, ../scss/style.scss */
.link {
  color: #ffa352; }

/* ********************
HEADER  
***********************/
/* line 34, ../scss/style.scss */
header .logo {
  text-align: center;
  margin-top: 17px;
  margin-bottom: 7px; }

/* ********************
SLIDER-FORM 
***********************/
/* line 45, ../scss/style.scss */
.slider-form {
  background: #ff9710;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  /* finish form */ }
  /* line 50, ../scss/style.scss */
  .slider-form .wrap-slid1 {
    width: 50%;
    float: left;
    box-shadow: 0 0 3px 0 #ccc;
    /* finish .slider-form */ }
    @media screen and (max-width: 910px) {
      /* line 50, ../scss/style.scss */
      .slider-form .wrap-slid1 {
        width: 65%;
        float: none;
        margin: 0 auto 2em; } }
    @media screen and (max-width: 400px) {
      /* line 50, ../scss/style.scss */
      .slider-form .wrap-slid1 {
        display: none; } }
    /* line 62, ../scss/style.scss */
    .slider-form .wrap-slid1 #slider1_container {
      position: relative;
      top: 0px;
      left: 0px;
      overflow: hidden;
      width: 100%;
      height: 466px;
      box-shadow: 0 0 1px #333;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      /* jssor slider bullet navigator skin 21 css */
      /*
      .jssorb21 div           (normal)
      .jssorb21 div:hover     (normal mouseover)
      .jssorb21 .av           (active)
      .jssorb21 .av:hover     (active mouseover)
      .jssorb21 .dn           (mousedown)
      */ }
      /* line 72, ../scss/style.scss */
      .slider-form .wrap-slid1 #slider1_container .img_container {
        cursor: move;
        position: absolute;
        overflow: hidden;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 466px; }
      /* line 89, ../scss/style.scss */
      .slider-form .wrap-slid1 #slider1_container .jssorb21 {
        position: absolute;
        left: 50%;
        margin-left: -27px;
        width: 100px;
        height: 19px;
        top: 427px; }
        /* line 96, ../scss/style.scss */
        .slider-form .wrap-slid1 #slider1_container .jssorb21 div, .slider-form .wrap-slid1 #slider1_container .jssorb21 div:hover, .slider-form .wrap-slid1 #slider1_container .jssorb21 .av {
          position: absolute;
          /* size of bullet elment */
          width: 19px;
          height: 19px;
          text-align: center;
          line-height: 19px;
          color: white;
          font-size: 12px;
          background: url(../img/b12.png) no-repeat;
          overflow: hidden;
          cursor: pointer; }
        /* line 109, ../scss/style.scss */
        .slider-form .wrap-slid1 #slider1_container .jssorb21 div {
          background-position: -5px -5px; }
        /* line 112, ../scss/style.scss */
        .slider-form .wrap-slid1 #slider1_container .jssorb21 div:hover, .slider-form .wrap-slid1 #slider1_container .jssorb21 .av:hover {
          background-position: -35px -5px; }
        /* line 115, ../scss/style.scss */
        .slider-form .wrap-slid1 #slider1_container .jssorb21 .av {
          background-position: -65px -5px; }
        /* line 118, ../scss/style.scss */
        .slider-form .wrap-slid1 #slider1_container .jssorb21 .dn, .slider-form .wrap-slid1 #slider1_container .jssorb21 .dn:hover {
          background-position: -95px -5px; }
  /* line 124, ../scss/style.scss */
  .slider-form form {
    float: left;
    background-color: #fff;
    width: 50%; }
    @media screen and (max-width: 980px) {
      /* line 124, ../scss/style.scss */
      .slider-form form {
        margin: 0 auto;
        float: none;
        width: 100%; } }
    /* line 133, ../scss/style.scss */
    .slider-form form h2 {
      background: -webkit-linear-gradient(#fff6ee, #ff8414);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 300;
      font-size: 2.625em;
      margin: 0; }
    /* line 143, ../scss/style.scss */
    .slider-form form .get-name input {
      width: 68.08510638297872%;
      height: 36px;
      box-shadow: 0 0 1px 1px #dfc1c1;
      border-radius: 10px;
      border: none;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdcece+0,f5fafb+100 */
      background: #cdcece;
      /* Old browsers */
      background: -moz-linear-gradient(top, #cdcece 0%, #f5fafb 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdcece), color-stop(100%, #f5fafb));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #cdcece 0%, #f5fafb 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #cdcece 0%, #f5fafb 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #cdcece 0%, #f5fafb 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #cdcece 0%, #f5fafb 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdcece', endColorstr='#f5fafb',GradientType=0 );
      /* IE6-9 */ }
    /* line 171, ../scss/style.scss */
    .slider-form form .extra-options input[type="checkbox"] {
      display: none; }
      /* line 173, ../scss/style.scss */
      .slider-form form .extra-options input[type="checkbox"] + label {
        cursor: pointer; }
        /* line 175, ../scss/style.scss */
        .slider-form form .extra-options input[type="checkbox"] + label::before {
          content: "";
          display: inline-block;
          height: 14px;
          width: 14px;
          background: url(../img/choise-sprite.jpg);
          background-repeat: no-repeat;
          background-position-x: -14px; }
      /* line 180, ../scss/style.scss */
      .slider-form form .extra-options input[type="checkbox"]:checked + label::before {
        background-position-x: 0px; }
    /* line 184, ../scss/style.scss */
    .slider-form form .extra-options input[type="radio"] {
      display: none; }
      /* line 186, ../scss/style.scss */
      .slider-form form .extra-options input[type="radio"] + label {
        cursor: pointer; }
        /* line 188, ../scss/style.scss */
        .slider-form form .extra-options input[type="radio"] + label::before {
          content: "";
          display: inline-block;
          height: 14px;
          width: 14px;
          background: url(../img/choise-sprite.jpg);
          background-repeat: no-repeat;
          background-position: -14px -14px; }
      /* line 193, ../scss/style.scss */
      .slider-form form .extra-options input[type="radio"]:checked + label::before {
        background-position: 0px -14px; }
    /* line 199, ../scss/style.scss */
    .slider-form form .submit {
      cursor: pointer;
      width: 320px;
      height: 70px;
      border-radius: 50px;
      font-size: 3em;
      font-weight: 200;
      color: #fff;
      border: none;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#abc834+0,abc834+50,88bc0d+51,88bc0d+100 */
      background: #abc834;
      /* Old browsers */
      background: -moz-linear-gradient(top, #abc834 0%, #abc834 50%, #88bc0d 51%, #88bc0d 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #abc834), color-stop(50%, #abc834), color-stop(51%, #88bc0d), color-stop(100%, #88bc0d));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #abc834 0%, #abc834 50%, #88bc0d 51%, #88bc0d 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #abc834 0%, #abc834 50%, #88bc0d 51%, #88bc0d 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #abc834 0%, #abc834 50%, #88bc0d 51%, #88bc0d 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #abc834 0%, #abc834 50%, #88bc0d 51%, #88bc0d 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#abc834', endColorstr='#88bc0d',GradientType=0 );
      /* IE6-9 */ }

/* ********************
MAIN 
***********************/
/* line 231, ../scss/style.scss */
.main {
  margin-bottom: 50px;
  /* finish .info1 */
  /* finish usersList */
  /* finish .mainText */ }
  /* line 233, ../scss/style.scss */
  .main .info1 {
    width: 50%;
    float: left; }
    @media screen and (max-width: 910px) {
      /* line 233, ../scss/style.scss */
      .main .info1 {
        width: 100%;
        padding: 1em; } }
    /* line 240, ../scss/style.scss */
    .main .info1 h3 {
      font-size: 2em;
      color: #4e4e4e;
      font-weight: 300;
      margin: 45px 0 30px 0; }
    /* line 243, ../scss/style.scss */
    .main .info1 img {
      shape-outside: circle();
      float: left;
      margin-right: 1em;
      margin-left: -10px; }
    /* line 249, ../scss/style.scss */
    .main .info1 p {
      font-size: 14px;
      line-height: 22px; }
      @media screen and (max-width: 910px) {
        /* line 249, ../scss/style.scss */
        .main .info1 p {
          font-size: 22px;
          line-height: 30px; } }
  /* line 258, ../scss/style.scss */
  .main .usersList {
    width: 50%;
    float: left;
    padding-left: 7.4468085106383%;
    /* finish .tabs*/ }
    @media screen and (max-width: 910px) {
      /* line 258, ../scss/style.scss */
      .main .usersList {
        width: 85%;
        padding: 1em; } }
    /* line 266, ../scss/style.scss */
    .main .usersList h3 {
      font-size: 2em;
      color: #4e4e4e;
      font-weight: 300;
      margin: 45px 0 30px 0; }
    /* line 269, ../scss/style.scss */
    .main .usersList .carousel {
      position: relative;
      top: 0px;
      left: 0px;
      width: 390px;
      height: 70px;
      margin-bottom: 20px; }
      @media screen and (max-width: 910px) {
        /* line 269, ../scss/style.scss */
        .main .usersList .carousel {
          left: 7px; } }
    /* line 280, ../scss/style.scss */
    .main .usersList .carousel_container {
      position: absolute;
      overflow: hidden;
      left: 0px;
      top: 0px;
      width: 390px;
      height: 70px; }
      /* line 288, ../scss/style.scss */
      .main .usersList .carousel_container .img-container:hover .hover-img {
        visibility: visible;
        opacity: 1; }
      /* line 292, ../scss/style.scss */
      .main .usersList .carousel_container .img-container .hover-img {
        visibility: hidden;
        opacity: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: 14px;
        text-align: center;
        height: 100%;
        position: absolute;
        width: 100%;
        transition: all 0.3s ease; }
        /* line 303, ../scss/style.scss */
        .main .usersList .carousel_container .img-container .hover-img p {
          font-size: 16px;
          margin: 15px 0 8px 0; }
    /* line 310, ../scss/style.scss */
    .main .usersList .left_arrow, .main .usersList .right_arrow {
      background: url(../img/carousel-sprite.jpg);
      background-repeat: no-repeat;
      width: 22px;
      height: 20px;
      position: absolute;
      cursor: pointer; }
    /* line 318, ../scss/style.scss */
    .main .usersList .right_arrow {
      background-position-x: -22px;
      right: -32px; }
    /* line 322, ../scss/style.scss */
    .main .usersList .left_arrow {
      background-position-x: 0px;
      left: -32px; }
    /* line 327, ../scss/style.scss */
    .main .usersList .tabs ul.pages {
      padding: 0;
      margin: 0; }
      /* line 330, ../scss/style.scss */
      .main .usersList .tabs ul.pages li {
        list-style: none;
        display: inline-block;
        margin-left: -3px; }
        /* line 334, ../scss/style.scss */
        .main .usersList .tabs ul.pages li a {
          text-decoration: none;
          color: #969696;
          background: #f8f8f8;
          display: block;
          height: 33px;
          width: 90px;
          padding-top: 7px;
          padding-left: 13px;
          border-top-left-radius: 15px;
          border-top-right-radius: 21px;
          border: 1px solid #efefef; }
          /* line 346, ../scss/style.scss */
          .main .usersList .tabs ul.pages li a.active-tabs {
            width: 170px;
            color: #ffa352;
            background: #fff;
            border-bottom: none; }
            /* line 351, ../scss/style.scss */
            .main .usersList .tabs ul.pages li a.active-tabs span {
              color: #b9b9b9; }
        /* line 356, ../scss/style.scss */
        .main .usersList .tabs ul.pages li p {
          margin: 0; }
    /* line 361, ../scss/style.scss */
    .main .usersList .tabs > div {
      border: 1px solid #cccccc;
      padding: 1em;
      margin-left: -3px;
      box-shadow: 0 1px 3px 0 #ccc; }
      /* line 366, ../scss/style.scss */
      .main .usersList .tabs > div > div.cont-tabs-wrap {
        width: 58.26558265582656%; }
        /* line 368, ../scss/style.scss */
        .main .usersList .tabs > div > div.cont-tabs-wrap > div {
          margin-bottom: 25px; }
    /* line 374, ../scss/style.scss */
    .main .usersList .tabs .ui-progressbar {
      border: 1px solid #dcdcdc;
      height: 14px;
      padding: 1px;
      border-radius: 3px;
      position: relative; }
      /* line 380, ../scss/style.scss */
      .main .usersList .tabs .ui-progressbar .progress-label {
        position: absolute;
        font-size: 9px;
        width: 100%;
        left: 50%; }
      /* line 386, ../scss/style.scss */
      .main .usersList .tabs .ui-progressbar .ui-progressbar-value {
        height: 100%;
        background: #ff9317;
        border-radius: 3px; }
    /* line 429, ../scss/style.scss */
    .main .usersList .tabs .ui-slider {
      border: 1px solid #dcdcdc;
      height: 14px;
      position: relative; }
      /* line 433, ../scss/style.scss */
      .main .usersList .tabs .ui-slider .ui-slider-range {
        height: 100%;
        position: absolute;
        background: #ff9317; }
      /* line 438, ../scss/style.scss */
      .main .usersList .tabs .ui-slider .ui-slider-handle {
        background: url(../img/range-slid.png);
        background-repeat: no-repeat;
        width: 22px;
        height: 27px;
        position: absolute;
        top: -7px;
        margin-left: -11px;
        outline: none; }
    /* line 452, ../scss/style.scss */
    .main .usersList .tabs .stars ul li {
      display: inline-block; }
      /* line 454, ../scss/style.scss */
      .main .usersList .tabs .stars ul li a {
        display: block;
        background: url(../img/star-sprite.png);
        background-repeat: no-repeat;
        width: 18px;
        height: 16px;
        background-position-x: -18px; }
        /* line 461, ../scss/style.scss */
        .main .usersList .tabs .stars ul li a.painted-star {
          background-position-x: 0; }
  /* line 470, ../scss/style.scss */
  .main .mainText {
    clear: both; }
    @media screen and (max-width: 910px) {
      /* line 470, ../scss/style.scss */
      .main .mainText {
        padding: 1em; } }
    /* line 475, ../scss/style.scss */
    .main .mainText h3 {
      font-size: 2em;
      color: #4e4e4e;
      font-weight: 300;
      margin: 0 0 15px 0; }
    /* line 478, ../scss/style.scss */
    .main .mainText .column {
      -webkit-column-count: 3;
      -webkit-column-gap: 20px;
      font-size: 14px;
      line-height: 22px;
      min-height: 430px;
      overflow: hidden; }
      @media screen and (max-width: 980px) {
        /* line 478, ../scss/style.scss */
        .main .mainText .column {
          -webkit-column-count: 2;
          min-height: 650px; } }
      @media screen and (max-width: 490px) {
        /* line 478, ../scss/style.scss */
        .main .mainText .column {
          -webkit-column-count: 2;
          min-height: 830px; } }
      @media screen and (max-width: 330px) {
        /* line 478, ../scss/style.scss */
        .main .mainText .column {
          -webkit-column-count: 1;
          min-height: 830px; } }
      /* line 498, ../scss/style.scss */
      .main .mainText .column p {
        margin: 0 0 2em 0; }
        /* line 500, ../scss/style.scss */
        .main .mainText .column p:firs-child {
          margin-bottom: 20px; }
        /* line 503, ../scss/style.scss */
        .main .mainText .column p.importantText {
          color: #ffa352;
          border-left: 3px solid;
          padding-left: 15px;
          margin-bottom: 30px; }
      /* line 510, ../scss/style.scss */
      .main .mainText .column blockquote {
        margin: 0 0 25px 0;
        position: relative;
        padding: 0 25px 0 30px;
        color: #9a9a9a; }
        /* line 515, ../scss/style.scss */
        .main .mainText .column blockquote:before, .main .mainText .column blockquote:after {
          position: absolute;
          font-size: 72px;
          color: #cfcfcf; }
        /* line 520, ../scss/style.scss */
        .main .mainText .column blockquote:before {
          content: "\201c";
          left: 0;
          top: 15px; }
        /* line 525, ../scss/style.scss */
        .main .mainText .column blockquote:after {
          content: "\201d";
          right: 0;
          bottom: -20px; }
      /* line 531, ../scss/style.scss */
      .main .mainText .column ol {
        margin-bottom: 2em;
        padding: 15px; }
        /* line 534, ../scss/style.scss */
        .main .mainText .column ol li {
          margin-bottom: 15px; }
      /* line 538, ../scss/style.scss */
      .main .mainText .column a.more {
        color: #ffb575;
        background: url(../img/triangle-link.png);
        background-repeat: no-repeat;
        padding-left: 10px;
        background-repeat: no-repeat;
        background-position: 0 50%;
        float: right; }

/* ********************
FOOTER
***********************/
/* line 556, ../scss/style.scss */
footer {
  padding-bottom: 25px; }
  /* line 558, ../scss/style.scss */
  footer hr.line {
    margin: 0 0 20px 0; }
  /* line 561, ../scss/style.scss */
  footer .copyright {
    float: right; }
    @media screen and (max-width: 330px) {
      /* line 561, ../scss/style.scss */
      footer .copyright {
        float: left;
        margin-top: 1em; } }
    /* line 567, ../scss/style.scss */
    footer .copyright h4 {
      margin: 0;
      font-size: 1.2em;
      font-weight: 300;
      text-align: right;
      color: #4e4e4e; }
      @media screen and (max-width: 330px) {
        /* line 567, ../scss/style.scss */
        footer .copyright h4 {
          text-align: left; } }
      /* line 576, ../scss/style.scss */
      footer .copyright h4 span {
        color: #cfcfcf; }

/* finish footer */
